.o_delivery {
	padding-block: 5rem;

	@media (min-width: 69rem) {
		padding-block: 8rem;
	}

	.item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: .375rem;
		padding: 2rem 1.5rem;

		.a_icon {
			--icon-size: 2rem;
			color: var(--color_primary);
			margin-bottom: .5rem;
		}

		.a_h3 {
			font-family: var(--font-heading);
			font-size: 1.25rem;
			font-weight: 500;
		}

		.a_description {
			font-size: .875rem;
		}
	}
}
