<section class="o_footer container">
	{{> a_image a_image=brand.a_image }}
	{{#if copyright}}
	<p class="o_footer__copy">{{copyright}}</p>
	{{/if}}
	{{#if note}}
	<p class="o_footer__note">{{note}}</p>
	{{/if}}
</section>
