<section class="o_content_columns grid"
	{{#if section_id}}
	 id="{{section_id}}"
	{{/if}}>
	{{> m_section_title }}
	<div class="paragraphs col-12">
		{{#each paragraphs}}
		<p>{{{this}}}</p>
		{{/each}}
	</div>
</section>
