.o_image_grid {
	padding-block: 4rem;

	.item {
		position: relative;
		overflow: hidden;
		border-radius: var(--radius-md);
		padding: 2rem;
		min-height: 26rem;
		display: flex;
		gap: .5rem;
		flex-direction: column;
		justify-content: flex-end;
		text-decoration: none;
		color: inherit;

		@media (min-width: 48rem) {
			&.rows_2 {
				grid-row: span 2;
			}
		}

		.a_image_cover {
			position: absolute;
			inset: 0;

			img {
				transition: transform .3s ease;
			}

			&::after {
				content: '';
				position: absolute;
				inset: 0;
				background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
			}
		}

		&:hover img {
			transform: scale(1.05);
		}

		.a_button {
			position: absolute;
			inset: 0;
			border: none;
		}

		h3, p, ul, li {
			position: relative;
			z-index: 1;
			margin: 0;
			padding: 0;
			color: var(--color_text-inverted);
		}

		h3 {
			font-weight: 600;
			font-size: 1.125rem;
			line-height: 1.2;
		}

		p {
			line-height: 1.33;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: .375rem;
			list-style: none;

			li {
				display: flex;
				gap: .75rem;
				align-items: center;
				font-size: .875rem;
				line-height: 1.33;

				.a_icon {
					width: 1rem;
					height: 1rem;
				}
			}
		}
	}
}
